<div class="row">
  <div class="welcome-box">
    <div class="welcome-content">
      <div class="troll">
        <%= image_tag asset_path('penguin_plus_logo.png') %>
      </div>
      <div class="welcome-message">
	<h2>Do you want to learn about open source with fun and friendly people? <%= link_to "Sign up", new_user_registration_path %> and RSVP for an event.</h2>
	<h2>You can also check out <%= link_to "your local chapter", chapters_path %>.<h2>
        <h2>Or, learn more <%= link_to "about OpenHatch Events",
                                                      about_path %>.</h2>
      </div>
    </div>
  </div>
</div>
