<%= content_for(:header_text, 'Organize an Event') %>

<div class="row">
  <div class="col-md-8 event-form">
    <h2 class="mb-10-only">Guidelines for OpenHatch Events</h2>

    <p>All OpenHatch events must be:</p>
    <ul class="margined bulleted">
      <li><strong>Targeted towards or explicitly welcoming to newcomers</strong></li>
      <li><strong>Focused on or related to free and open source software and related communities.</strong></li>
   </ul>

   <p>All OpenHatch events must also follow our <a href="https://openhatch.org/wiki/OpenHatch_event_code_of_conduct">Code of Conduct</a>.</p>

   <p>Our most frequent type of events are <a href="http://campus.openhatch.org/">Open Source Comes to Campus</a> workshops, but you can
create other types of events, including sprints, social events, project-specific events, and <a href="https://openhatch.org/wiki/Events/Affiliated">affiliated events</a>.</p>

    <%= render 'form' %>
  </div>
</div>

<%= render 'shared/actions', links: [
  ['Back', events_path],
  ['Manage Locations', locations_path]
] %>
