<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Howdy, open source fan!</p>

<p>A new event, "<%= @event.title %>", has been posted to OpenHatch Events!</p>

<%= render 'new_event_detail' %>

<p>You received this email because we think you're interested in events for the "<strong><%= @chapter.name %></strong>" chapter. If you want to change that preference, opt-out of emails entirely, or delete your account in a fit of rage, <%= link_to 'visit your preferences page on OpenHatch Events', edit_user_registration_url %>.</p>

</body>
</html>
